#sorter .ui-li.ui-li-static.ui-btn-up-c {
	height: 3.4%;
	padding: 0;
	font-size: 8px;
	padding-left: 5px;
	line-height: 1.8em;
}

#sorter{
	position: relative;
	top: 0px;
	right: 0;
	width: 20px;
	z-index: 1;
	display: none;
	height: 100%;
}

#sorter .higher {
	height: 3.6%;
}

#sorter .shorter {
	height: 2.9%;
}

#sorter ul{
	height: 100%;
}

.sortedList{
	padding-right: 5px;
	height: 30em;
	overflow-y: scroll;
	width:165%;
	position: relative;
	top:0;
	left: 20px;
}

.hidden {
	display: none;
}

.state-select {
	width: 75%;
}

#listPopup {
	height: 30em;
}



